<mat-card class="article-card">
  <img mat-card-image [src]="article.image_url" alt="{{ article.title }}" />

  <mat-card-content>
    <div class="date">
      <mat-icon>calendar_today</mat-icon>
      {{ article.published_at  | date:'mediumDate' }}
    </div>
    <h2
      class="title"
      [appHighlightKeywords]="article.title"
      [keywords]="searchKeywords">
    </h2>
    <p
      class="description"
      [appHighlightKeywords]="article.summary | truncate:100"
      [keywords]="searchKeywords">
    </p>
  </mat-card-content>

  <mat-card-actions>
    <a mat-button class="read-more" [routerLink]="['/details', article.id]">
      Read more
    </a>
  </mat-card-actions>
</mat-card>
