<mat-card class="article-card">
  <img mat-card-image [src]="article.imageUrl" alt="{{ article.title }}" />

  <mat-card-content>
    <div class="date">
      <mat-icon>calendar_today</mat-icon>
      {{ article.publicationDate }}
    </div>
    <h2 class="title">{{ article.title }}</h2>
    <p class="description">{{ article.description }}</p>
  </mat-card-content>

  <mat-card-actions>
    <a mat-button class="read-more" [routerLink]="['/details', article.id]">Read more
    </a>
  </mat-card-actions>
</mat-card>
